@*Members view index*@
@page
@model SacramentMeetingPlanner.Pages.NavViews.MembersView.IndexModel

@{
    ViewData["Title"] = "Ward Members";
}

<h2>Ward Members</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].MemberName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Members) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MemberID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MemberID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MemberID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
