@page
@model SacramentMeetingPlanner.Pages.NavViews.SongAssignmentView.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Song Assignments</h2>

<p>
    <a asp-page="Create">Create New Song Assignment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Song Name
            </th>
            <th>
                Song Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SongAssignment)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Song.SongName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SongType.SongTypeName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.SongAssignmentID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.SongAssignmentID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.SongAssignmentID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>