@page
@model SacramentMeetingPlanner.Pages.NavViews.SpeakToPlanView.IndexModel

@{
    ViewData["Title"] = "Sacrament Meeting Plans";
}

<h2>Sacrament Meeting Plans</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpeakToPlan[0].SpeakToPlanID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpeakToPlan[0].SpeakerPlacement)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SpeakToPlan) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpeakToPlanID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeakerPlacement)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SpeakToPlanID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SpeakToPlanID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SpeakToPlanID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
