@page
@model SacramentMeetingPlanner.Pages.NavViews.PlannerView.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Sacrament Meeting Plan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Plans.PlanDate" class="control-label"></label>
                <input asp-for="Plans.PlanDate" class="form-control" />
                <span asp-validation-for="Plans.PlanDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <select asp-for="RoleName" class="form-control" asp-items="@Model.RoleNameSL">
                    <option value="">-- Select Bishopric Member --</option>
                </select>
                <span asp-validation-for="RoleName" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="SongName" class="control-label"></label>
                <select asp-for="SongName" class="form-control" asp-items="@Model.SongNameSL">
                    <option value="">-- Select Opening Hymn --</option>
                </select>
                <span asp-validation-for="SongName" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="MemberName" class="control-label"></label>
                <select asp-for="MemberName" class="form-control" asp-items="@Model.MemberNameSL">
                    <option value="">-- Select Member --</option>
                </select>
                <span asp-validation-for="MemberName" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="SongName" class="control-label"></label>
                <select asp-for="SongName" class="form-control" asp-items="@Model.SongNameSL">
                    <option value="">-- Select Sacrament Hymn --</option>
                </select>
                <span asp-validation-for="SongName" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="MemberName" class="control-label"></label>
                <select asp-for="MemberName" class="form-control" asp-items="@Model.MemberNameSL">
                    <option value="">-- Select Member --</option>
                </select>
                <span asp-validation-for="MemberName" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="MemberName" class="control-label"></label>
                <select asp-for="MemberName" class="form-control" asp-items="@Model.MemberNameSL">
                    <option value="">-- Select Member --</option>
                </select>
                <span asp-validation-for="MemberName" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="SongName" class="control-label"></label>
                <select asp-for="SongName" class="form-control" asp-items="@Model.SongNameSL">
                    <option value="">-- Select Intermediate Hymn --</option>
                </select>
                <span asp-validation-for="SongName" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="MemberName" class="control-label"></label>
                <select asp-for="MemberName" class="form-control" asp-items="@Model.MemberNameSL">
                    <option value="">-- Select Member --</option>
                </select>
                <span asp-validation-for="MemberName" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="SongName" class="control-label"></label>
                <select asp-for="SongName" class="form-control" asp-items="@Model.SongNameSL">
                    <option value="">-- Select Closing Hymn --</option>
                </select>
                <span asp-validation-for="SongName" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="MemberName" class="control-label"></label>
                <select asp-for="MemberName" class="form-control" asp-items="@Model.MemberNameSL">
                    <option value="">-- Select Member --</option>
                </select>
                <span asp-validation-for="MemberName" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
