@page
@model SacramentMeetingPlanner.Pages.NavViews.PlannerView.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Sacrament Meeting Plan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Plans.PlanDate" class="control-label"></label>
                <input asp-for="Plans.PlanDate" class="form-control" />
                <span asp-validation-for="Plans.PlanDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plans.Role.RoleTypeName" class="control-label">Conducting</label>
                <select asp-for="Plans.Role.RoleTypeName" class="form-control" asp-items="@Model.RoleNameSL">
                    <option value="">-- Select Bishopric Member --</option>
                </select>
                <span asp-validation-for="Plans.Role.RoleTypeName" class="text-danger" />
            </div>

            <div class="col-md-offset-2 col-md-10">
                <table>
                    <tr>
                        @{
                            int cnt = 0;

                            foreach (var song in Model.SongAssignment)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                @:</tr><tr>
                                }
                                @:<td>
                                    <input type="checkbox"
                                           name="selectedSongs"
                                           value="@song.SongAssignmentID" />
                                    @*<input type="checkbox"
                                        name="selectedSongs"
                                        value="@song.SongAssignmentID"
                                        @(Html.Raw(song.Assigned ? "checked=\"checked\"" : "")) />*@
                                    @*@song.Song.SongName @song.SongType.SongTypeName*@
                                    @song.SongAssignmentID
                                @:</td>
                            }
                        @:</tr>
                        }
                    </table>
                </div>

                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            @{
                                int cont = 0;

                                foreach (var speak in Model.SpeakAssignment)
                                {
                                    if (cont++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedSpeakers"
                                               value="@speak.SpeakAssignmentID" />
                                        @*<input type="checkbox"
                                            name="selectedSongs"
                                            value="@song.SongAssignmentID"
                                            @(Html.Raw(song.Assigned ? "checked=\"checked\"" : "")) />*@
                                        @*@speak.Member.MemberName @speak.Subject.SubjectName @speak.SpeakerPlacement*@
                                        @speak.SpeakAssignmentID
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>

                    <div class="col-md-offset-2 col-md-10">
                        <table>
                            <tr>
                                @{
                                    int count = 0;

                                    foreach (var pray in Model.Prayer)
                                    {
                                        if (count++ % 3 == 0)
                                        {
                                        @:</tr><tr>
                                        }
                                        @:<td>
                                            <input type="checkbox"
                                                   name="selectedPrayers"
                                                   value="@pray.PrayerID" />
                                            @*<input type="checkbox"
                                                name="selectedSongs"
                                                value="@song.SongAssignmentID"
                                                @(Html.Raw(song.Assigned ? "checked=\"checked\"" : "")) />*@
                                            @*@pray.PrayerType.PrayerTypeName @pray.Member.MemberName*@
                                            @pray.PrayerID
                                        @:</td>
                                    }
                                @:</tr>
                                }
                            </table>
                        </div>









                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-page="Index">Back to List</a>
            </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
