@page "{id:int?}"
@model SacramentMeetingPlanner.Pages.NavViews.PlannerView.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Sacrament Meeting Plan</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Plans</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plans.PlanDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plans.PlanDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plans.Bishopric)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plans.Bishopric)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plans.SongToPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plans.SongToPlan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plans.PrayerToPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plans.PrayerToPlan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plans.SongToPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plans.SongToPlan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plans.SpeakToPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plans.SpeakToPlan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plans.SpeakToPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plans.SpeakToPlan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plans.SongToPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plans.SongToPlan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plans.SpeakToPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plans.SpeakToPlan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plans.SongToPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plans.SongToPlan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plans.PrayerToPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plans.PrayerToPlan)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Plans.PlansID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
