@page "{id:int?}"
@model SacramentMeetingPlanner.Pages.NavViews.PlannerView.DetailsModel

@{
    ViewData["Title"] = "Sacrament Meeting Plan Details";
}

<h2>Sacrament Meeting Plan Details</h2>

<div>
    <h4>Plan Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plans.PlanDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plans.PlanDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plans.Bishopric)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plans.Bishopric)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plans.SongToPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plans.SongToPlan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plans.PrayerToPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plans.PrayerToPlan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plans.SongToPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plans.SongToPlan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plans.SongToPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plans.SongToPlan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plans.SongToPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plans.SongToPlan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plans.PrayerToPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plans.PrayerToPlan)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Plans.PlansID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
