@*Planner view Details*@
@page "{id:int?}"
@model SacramentMeetingPlanner.Pages.NavViews.PlannerView.DetailsModel

@{
    ViewData["Title"] = "Sacrament Meeting Plan Details";
}

<h2>Sacrament Meeting Plan Details</h2>

<div>
    <h4>Plan Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plans.PlanDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plans.PlanDate)
        </dd>


        <dt>
            Conducting
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plans.Role.RoleTypeName)
        </dd>


        <dt>
            @*Songs*@
            @*Html.DisplayFor(model => model.Plans.SongToPlan*@
            @{
                foreach (var item in Model.Plans.SongToPlan)
                {
                    @item.SongAssignment.SongType.SongTypeName <br />
                }
            }
        </dt>
        <dd>
            @{
                foreach (var item in Model.Plans.SongToPlan)
                {
                    @item.SongAssignment.Song.SongNumber @::&nbsp;&nbsp; @item.SongAssignment.Song.SongName <br />
                }
            }
        </dd>


        <dt>
            @*Prayers*@
            @*Html.DisplayFor(model => model.Plans.PrayerToPlan)*@
            @{
                foreach (var prayer in Model.Plans.PrayerToPlan)
                {
                    @prayer.PrayerType.PrayerTypeName <br />
                }
            }
        </dt>
        <dd>
            @{
                foreach (var prayer in Model.Plans.PrayerToPlan)
                {
                    @prayer.Member.MemberName <br />
                }
            }
        </dd>


        <dt>
            @*Speakers/Topics*@
            @*Html.DisplayFor(model => model.Plans.SongToPlan)*@
            @{
                foreach (var speaker in Model.Plans.SpeakToPlan)
                {
                    @:Speaker&nbsp; @speaker.SpeakAssignment.SpeakerPlacement <br />
                }
            }
        </dt>
        <dd>
            @{
                foreach (var speaker in Model.Plans.SpeakToPlan)
                {
                    @speaker.SpeakAssignment.Member.MemberName @:&nbsp;will be speaking on&nbsp;  @speaker.SpeakAssignment.Subject.SubjectName <br />
                }
            }
        </dd>


    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Plans.PlansID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
