@page
@model SacramentMeetingPlanner.Pages.NavViews.PlannerView.IndexModel

@{
    ViewData["Title"] = "Sacrament Meeting Plans";
}

<h2>Sacrament Meeting Plans</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plans[0].PlanDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plans[0].Bishopric)
            </th>
            <th>
                Songs
            </th>
            <th>
                Prayers
            </th>
            <th>
                Speakers/Topics
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Plans) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlanDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bishopric)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SongToPlan)
                <br />
                @Html.DisplayFor(modelItem => item.SongToPlan)
                <br />
                @Html.DisplayFor(modelItem => item.SongToPlan)
                <br />
                @Html.DisplayFor(modelItem => item.SongToPlan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrayerToPlan)
                <br />
                @Html.DisplayFor(modelItem => item.PrayerToPlan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeakToPlan)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PlansID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PlansID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PlansID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>