@page "{id:int?}"
@model SacramentMeetingPlanner.Pages.NavViews.BishopricView.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bishopric</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bishopric.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bishopric.Role)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bishopric.ReleasedFlag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bishopric.ReleasedFlag)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Bishopric.BishopricID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
