@*Index for the bishop view*@
@page
@model SacramentMeetingPlanner.Pages.NavViews.BishopricView.IndexModel

@{
    ViewData["Title"] = "Bishopric Members";
}

<h2>Bishopric Members</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bishopric[0].Member.MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role[0].Role.RoleTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bishopric[0].ReleasedFlag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Model.Bishopric.Count; i++) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Bishopric[i].Member.MemberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Role[i].Role.RoleTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Bishopric[i].ReleasedFlag)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@Model.Bishopric[i].BishopricID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@Model.Bishopric[i].BishopricID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@Model.Bishopric[i].BishopricID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>